{% extends 'layouts/app.twig' %}

{% block content %}    
    <section class="grid grid-cols-1 md:grid-cols-2 items-end">
        <div>
            <h1 class="text-primary text-3xl">
                Cadastros
            </h1>
            <p class="text-sm mt-2">
                Crie e gerencie todas as informações essenciais do Flux.
            </p>
        </div>  
    </section>

    <section class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">
        <a class="manage-card" href="{{ base_url }}/manage/categories">
            <div class="manage-card-icon">
                <i class="fa-regular fa-note-sticky fa-xl"></i>            
            </div>
            <div class="manage-card-content">
                <div class="manage-card-title">                
                    categorias            
                </div> 
                <div class="manage-card-text">
                    Organize seus lançamentos em categorias personalizadas.
                </div> 
                <div class="manage-card-info">
                    <span class="badge">
                        {{ categories_count }}
                        categorias
                    </span>
                </div> 
            </div>       
        </a> 
        <a class="manage-card" href="{{ base_url }}/manage/wallets">
            <div class="manage-card-icon">
                <i class="fa-regular fa-envelope fa-xl"></i>
            </div>
            <div class="manage-card-content">
                <div class="manage-card-title">                
                    wallets            
                </div> 
                <div class="manage-card-text">
                    Crie e gerencie suas contas financeiras e fontes de saldo.
                </div> 
                <div class="manage-card-info">
                    <span class="badge">
                        {{ wallets_count }}
                        wallets
                    </span>
                </div> 
            </div>       
        </a> 
        <a class="manage-card" href="{{ base_url }}/manage/entities">
            <div class="manage-card-icon">
                <i class="fa-regular fa-user fa-xl"></i>
            </div>
            <div class="manage-card-content">
                <div class="manage-card-title">                
                    entidades            
                </div> 
                <div class="manage-card-text">
                    Crie e gerencie pessoas, grupos e organizações credoras.
                </div> 
                <div class="manage-card-info">
                    <span class="badge">
                        {{ entities_count }}
                        entidades
                    </span>
                </div> 
            </div>       
        </a> 
        <a class="manage-card" href="{{ base_url }}/manage/templates">
            <div class="manage-card-icon">
                <i class="fa-regular fa-file-lines fa-xl"></i>           
            </div>
            <div class="manage-card-content">
                <div class="manage-card-title">                
                    templates            
                </div> 
                <div class="manage-card-text">
                    Defina modelos personalizados para lançamentos periódicos.
                </div> 
                <div class="manage-card-info">
                    <span class="badge">
                        {{ templates_count }}
                        templates
                    </span>
                </div> 
            </div>       
        </a>          
    </section> 
{% endblock %}
