<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ base_url }}/assets/img/favicon.svg" type="image/x-icon">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ base_url }}/assets/css/reset.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/animations.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/style.css">

    <title>Flux</title>
</head>
<body>
    {% block sidebar %}
        {% if show_menu is not defined or show_menu %}
            {% include 'components/sidebar.twig' %}
        {% endif %}
    {% endblock %}

    <main class="page-content {% if show_menu is not defined or show_menu %}has-sidebar{% endif %} grow-1 {% if not no_padding %} p-8 {% endif %}">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/delete-confirm-modal.twig' %}
    {% include 'components/transaction-modal.twig' %}

    <script src="{{ base_url }}/assets/js/validation.js"></script>
    <script src="{{ base_url }}/assets/js/modal.js"></script>
    <script src="{{ base_url }}/assets/js/action.js"></script>   
    <script src="{{ base_url }}/assets/js/transactions.js"></script>
     
    {% block scripts %}{% endblock %}
</body>
</html>
