<aside class="app-sidebar flex flex-col justify-between items-center">
    <a class="pl-8 pt-8 brand-mark hidden md:block" href="{{ base_url }}/" aria-label="Flux">
        <img src="{{ base_url }}/assets/img/logo.svg" alt="Flux">
    </a>

    <nav class="p-8 flex items-center justify-center" aria-label="Menu principal">
        <ul class="flex flex-cow md:flex-col gap-0 md:gap-8 justify-between">
            <li class="nav-item flex items-center">
                <a class="nav-item-link p-1 {{ current_path == (base_url ~ '/') ? 'active' : '' }} inline-block" href="{{ base_url }}/" aria-label="Visão Geral">
                    <i class="fa-regular fa-house fa-xl" aria-hidden="true"></i>
                </a>
                <span class="nav-item-label hidden md:d-inline-block">
                    visão geral
                </span> 
            </li>
            <li class="nav-item flex items-center">
                <a class="nav-item-link p-1 {{ 'manage/' in current_path ? 'active' : '' }} inline-block" href="{{ base_url }}/manage/" aria-label="Cadastros">
                    <i class="fa-regular fa-rectangle-list fa-xl" aria-hidden="true"></i>
                </a>
                <span class="nav-item-label hidden md:d-inline-block">
                    cadastros
                </span>                    
            </li>
            <li class="nav-item flex items-center">
                <button type="button" class="nav-item-link p-1 inline-block cursor-pointer" aria-label="Novo Registro" data-open-transaction-modal>
                    <i class="fa-solid fa-plus fa-xl" aria-hidden="true"></i>
                </button>
                <span class="nav-item-label hidden md:d-inline-block">
                    novo registro
                </span> 
            </li> 
            <li class="nav-item flex items-center">
                <a class="nav-item-link p-1 {{ current_path == (base_url ~ '/settings/') ? 'active' : '' }} inline-block" href="{{ base_url }}/settings/" aria-label="Configurações">
                    <i class="fa-solid fa-gear fa-xl" aria-hidden="true"></i>
                </a>
                <span class="nav-item-label hidden md:d-inline-block">
                    ajustes
                </span> 
            </li>  
            <li class="nav-item flex items-center">
                <a class="nav-item-link p-1 {{ current_path == (base_url ~ '/account/') ? 'active' : '' }} inline-block" href="{{ base_url }}/account/" aria-label="Minha Conta">
                    <i class="fa-regular fa-user fa-xl" aria-hidden="true"></i>
                </a>
                <span class="nav-item-label hidden md:d-inline-block">
                    conta
                </span> 
            </li> 
            <li class="nav-item flex items-center">
                <a class="nav-item-link p-1 {{ current_path == (base_url ~ '/account/') ? 'active' : '' }} inline-block" href="{{ base_url }}/logoff" aria-label="Sair">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 3V12M18.3611 5.64001C19.6195 6.8988 20.4764 8.50246 20.8234 10.2482C21.1704 11.994 20.992 13.8034 20.3107 15.4478C19.6295 17.0921 18.4759 18.4976 16.9959 19.4864C15.5159 20.4752 13.776 21.0029 11.9961 21.0029C10.2162 21.0029 8.47625 20.4752 6.99627 19.4864C5.51629 18.4976 4.36274 17.0921 3.68146 15.4478C3.00019 13.8034 2.82179 11.994 3.16882 10.2482C3.51584 8.50246 4.37272 6.8988 5.6311 5.64001" stroke="#c17fd7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>                    
                </a>
                <span class="nav-item-label hidden md:d-inline-block">
                    sair
                </span> 
            </li>              
        </ul>
    </nav>
</aside>  
